body {
    padding: 16px 24px 16px 24px;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, white 20%, #F3F4F8 0%);
    background-attachment: fixed;
}

.fa-sun {
    color: #F5D7A0;
    text-shadow: 0 0 1px #3F3A35;
}

#outer-column-1 {
    background-color: white;
}

#upgrade-btn {
    background-color: #3355DF;
    color: white;
}



#nav-icon {
    background-color: #ECF0F3;
}

.active a #nav-icon {
    background-color: #5A7AFF;
    color: white;
}

.nav-item:hover #nav-icon {
    background-color: #5A7AFF;
    color: white;
}

.nav-item:active #nav-icon {
    background-color: #5A7AFF;
    color: white;
}


#capsule-div {
    background-color: #F3F4F8;
}

.rounded-lg {
    border-radius: 24px !important;
}

#nav-icon,
#upgrade-btn,
.form-control {
    border-radius: 8px;
}

#append-btn {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#horizontal-card {
    border-width: 8px;
}

#outer-div {
    height: 100vh;
}

.form-control {
    background-color: #F3F4F8;
}

#append-btn {
    background-color: #5A7AFF;
    color: white;
}